* {
  box-sizing: border-box;
  width: 100%;
}

.section {
  margin-left: 200px;
}

.header {
  background-color: #F55A5A;
  display: inline-block;
  border: 1px solid pink;
  position: relative;
}

.header--text {
  font-family: Inter;
  color: white;
  text-align: center; 
  vertical-align: middle;
}

.card--data {
  display: flex;
  font-family: Inter;
  margin-top: 40px;
}

.card--image {
  object-fit: cover;
  width: 200px;
  height: 250px;
  border-radius: 5px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 40px;
}

.card--googleURL {
  margin-left: 10px;
  color: #918E9B;
  letter-spacing: 0px;
}

.card--googleURL:hover {
  color: cadetblue;
}

.card--location {
  letter-spacing: 2px;
}